
body {
  background-color: white;
  margin-right:10px;
  margin-left: 0%;
  margin-bottom: 5%;
}


/* HEADER */
header {
  display: inline;
}


.logo {

  width: 47px;
  height: 25px;
  float: left;
  padding-left: 10px;
  padding-top: 10px;
}


ul {
  list-style: none;
  display: inline;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}


.uppercase {
  display: inline;
  text-transform: uppercase;
  margin: 0;
}



.items {
  color: tomato;
  text-decoration: none;
  font-size: 12px;
  line-height: 0;
  display: inline-block;;
  font-weight: normal;
  padding-right: 10px;
  padding-left: 10px;
  font-family: sans-serif;
}


.more {
  text-transform: none;
  word-spacing: normal;
  display:inline-block;
  font-weight: normal;
  color: tomato;
  text-decoration: none;
  font-size: 12px;
  padding-right: 10px;
  float: right;
  padding-bottom: 20px;
  font-family: sans-serif;
}

a:hover {
  color:darkred;
  text-decoration: none;
}

nav {
  padding-top: 10px;
}

/* FIRST SECTION*/

#one {
  background-image: url ("background.jpg");


}


#first {
  background-color: tomato;
  margin:0;
  height: 25em;
  padding-top: 20px;
  font-family: sans-serif;
  display: inline-flex;
  width: 100%;


}
}

h1 {
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 40px;
  font-family: sans-serif;
}

#first-left {
  display:inline;
  margin-left: 100px;
  width: 70%;
  float:left;
}

#back {
  font-family: sans-serif;
  font-size: 12px;
  display: block;
  color: white;
  text-decoration: none;
  padding-bottom: 10px;
  text-transform: uppercase;
}


#main {
  padding-top: 20px;
  height: 15em;
  width: 30em;
  display: inline-block;
}

#first-right {
  margin-left: 50px;
  display: inline;
  width: 80%;
  float: right;
}

#date {
  font-size: 12px;
  text-transform: uppercase;
  color: darkred;
}

#shoe {
  font-size: 14px;
  color: white;
  letter-spacing: 1px;
  line-height: 28px;
  display: inline;
}
#reviews {
  font-size: 14px;
  color: darkred;
  display: inline;
}

#border {
  border: 1px dashed darkred;
  border-right: none;
  border-left: none;
  width: 75%;
}

#price {
  font-size: 30px;
  color: white;
  display: inline;
  padding-top: 20px;
}

  #dollar:before {
    content: '$';
    font-size: 70%;
    vertical-align: top;
  }

  .zeros {
    vertical-align: top;
    font-size: 30%;
  }


  .button-buy {
       background-color: white;
       color: tomato;
       display: inline-block;
       padding: 13px 23px;
       border-radius: 5%;
       font-family: sans-serif;
       text-decoration: none;
       text-transform: uppercase;
       font-size: 14px;
       margin-left: 10px;
}

  #purchase {
    padding-top: 20px;
    display: inline-block;

}

/* WHITE SECTION*/

.white-section {
  width: 100%;
  background-color: white;
  margin-left: 80px;
  margin-bottom: 100px;
}



#list-one {
color: tomato;
display: inline-block;
padding-top: 30px;
}

#list-two {
  color: tomato;
  display: inline-block;
  float:right;
  padding-top: 30px;
}

#links {
  border-bottom: 2px solid tomato;
  width: 75%;
  margin-left: 80px;
}

.hover-two:hover {
  text-decoration:none;
  color: darkred;
  }



/* THIRD SECTION*/



#shop-shoes {
  font-family: arial;
  color: #4d2800;
  background-color: lavenderblush;
  text-align: center;
  font-size: 18px;
  padding: 3px;

}

#third {
  background-color: tomato;
  height: 22em;
  font-family: sans-serif;
  width:100%;
  display: inline-block;
}

#shoez {
  padding-top: 70px;
}

#lead {
  width: 70%;
  height: 70%;
}

#middle {
  height: 70%;
  width: 70%;


}
#last {
  width: 70%;
  height: 70%;
}

* {
  box-sizing: border-box;
}

.sneakers {
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  line-height: 5px;
  display: inline-block;
}

#first-shoe {
  border-style: hidden;
  float: left;
  display: inline-block;
  width: 30%;
  text-align: center;
  }

#second-shoe {
  border-style: hidden;
  display: inline-block;
  width: 30%;
  text-align: center;

}

#third-shoe {
  display: inline-block;
  border-style: hidden;
  width: 30%;
  text-align: center;
  float: right;
}

.bottom-dollar {
  content: '$';
  font-size: 60%;
  vertical-align: top;
  }

  .Z {
    vertical-align: super;
    font-size: 70%;
  }

/* FOOTER */

footer {
  display: inline-block;
  font-family: sans-serif;
}

.bottom-right {
  float: right;
  display: inline-flex;
}
