
body {
  background-color: white;
  margin-right: 20px;
  margin-left: 0%;
  margin-bottom: 5%;
}


/* HEADER */
header {
  display: inline;
}


.logo {

  width: 47px;
  height: 25px;
  float: left;
  padding-left: 10px;
  padding-top: 10px;
}


ul {
  list-style: none;
  display: block;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}


.uppercase {
  display: inline;
  text-transform: uppercase;
  margin: 0;
}



.items {
  color: tomato;
  text-decoration: none;
  font-size: 12px;
  line-height: 0;
  display: inline-block;;
  font-weight: normal;
  padding-right: 10px;
  padding-left: 10px;


}

.items, .more {
  font-family: sans-serif;
}

.more {
  text-transform: none;
  word-spacing: normal;
  display:inline-block;
  font-weight: normal;
  color: tomato;
  text-decoration: none;
  font-size: 12px;
  padding-right: 10px;
  float: right;
  padding-bottom: 20px;
}

a:hover {
  color:darkred;
  text-decoration: underline;

}

nav {
  padding-top: 10px;
}

/* FIRST SECTION*/

#first {
  background-color: tomato;
  margin:0;
  height: 45em;
  padding-top: 20px;
  font-family: sans-serif;
  display: inline-block;
  width: 100%;
}



h1 {
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 40px;
}

#first-left {
  display:inline-block;
  margin-left: 100px;
  width: 70%;
  float:left;
}

#back {
  font-family: sans-serif;
  font-size: 12px;
  display: block;
  color: white;
  text-decoration: none;
  padding-bottom: 10px;
  text-transform: uppercase;
}


#main {
  width: 50%;
  height: 45%;
}

#first-right {
  display: inline-block;
  width: 30%;
  float:right;
}

#date {
  font-size: 12px;
  text-transform: uppercase;
  color: darkred;
}

#shoe {
  font-size: 14px;
  color: white;
  letter-spacing: 1px;
  padding-bottom: 3px;
}

#reviews {
  font-size: 14px;
  color: darkred;
  padding-top: 10px;
}

#border {
  border: 1px dashed darkred;
  border-right: none;
  border-left: none;
  width: 50%;
  padding: 10px;
}

#price {
  font-size: 25px;
  color: white;
  display: inline;
  padding-top: 20px;
}

  .dollar:before {
    content: '$';
    font-size: 60%;
    vertical-align: top;
  }

  .zeros {
    vertical-align: top;
    font-size: 60%;
  }


  .button-buy {
       background-color: white;
       color: tomato;
       display: inline-block;
       padding: 13px 23px;
       border-radius: 5%;
       font-family: sans-serif;
       text-decoration: none;
       text-transform: uppercase;
       font-size: 14px;
       margin-left: 10px;
}

  #purchase {
    padding-top: 20px;
    display: inline-block;

}

/* WHITE SECTION*/

.white-section {
  width: 100%;
  background-color: white;
  margin-left: 80px;
  padding-top: 35px;
  padding-bottom: 35px;

}

#headings-content {
  font-style: italic;
}

.more-details {
  font-size: 14px;
  color: tomato;
  word-spacing: 10px;

}

#second-list{
  list-style: none;
  margin-left: 80px;
}





/* THIRD SECTION*/



#shop-shoes {
  font-family: arial;
  color: #4d2800;
  background-color: lavenderblush;
  text-align: center;
  font-size: 18px;
  padding: 3px;

}

#third {
  background-color: tomato;
  height: 30em;
  font-family: sans-serif;
  display: inline-block;
  width:100%;
  display: inline-block;
}

.bottom {
  width: 30%;
  height: 30%;
  display: inline-block;
}

* {
  box-sizing: border-box;
}

.content {
  color: #8C5C63;
  font-family: sans-serif;
  font-size: 14px;
}


.sneakers {
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  color: white;
}

#first-shoe {
  float: left;
}

#second-shoe {

}

#third-shoe {
  float: right;
}

/* FOOTER */

footer {
  display: inline;

}
li {
  display: inline;
  text-transform: none;
  margin: 0;
  padding-left: 2px;
  padding-right: 5px;
  color: gray;
}

.nav {
  background-color: white;
  font-family: sans-serif;
  color: #8C5C63;
  font-size: 13px;
  margin-bottom: 0px;
}


a {
  font-family: sans-serif;
  display: block;
  color: gray;
}

#bottom-right-nav {
  float: right;
  display: flex;
  font-size: 12px;
}
